name: "[Docs] Test deployment"

on:
  workflow_dispatch: 
  pull_request:
    branches:
      - main
      - feliz_v3.0
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm

      - name: Install dotnet tools
        run: dotnet tool restore
      - name: Install dependencies
        run: npm ci
        working-directory: ./docs
      - name: Test build website
        run: npm run build
        working-directory: ./docs
