name: Run Tests

on:
  pull_request:
    branches: [ main, feliz_v3.0 ]

jobs:
  run-tests:
    runs-on: ubuntu-latest # Cannot find module @rollup/rollup-linux-x64-gnu. npm has a bug related to optional dependencies (https://github.com/npm/cli/issues/4828). Please try `npm i` again after removing both package-lock.json and node_modules directory.

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x' 

      - name: Setup Node.js and NPM
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Restore .NET tools
        run: dotnet tool restore

      - name: Log versions
        run: |
          dotnet --version
          node --version
          npm --version

      - name: Install dependencies
        run: npm install

      - name: run tests
        run: dotnet run --project ./build/Build.fsproj test
